.opening i {
    padding: 5px;
    background: #ffb900;
    border: 1px solid black;
    border-radius: 10px;
    color: green;
}

.opening span {
    font-size: 25px;
}

.the-body i {
    color: #ffd679;
}

.the-body p {
    font-size: 16px;
}

.bai-1 input {
    width: 20%;
    height: 35px;
}

.button-bai-1 {
    border: none;
    padding: 10px 35px;
    background: #4b70e2;
    color: white;
    border-radius: 30px;
}

.button-bai-1:hover {
    background: #1b378ddd;
}

.bai-1 select {
    width: 20%;
    height: 40px;
}



.content nav {
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 20px;
}